[openweathermap]
key = xxxxxxxxxxx
location = Moscou

[mqtt]
broker_ip = 3.3.3.3
port = 1883 
topic_cons = smeter/pzem/CONSOMMATION
topic_prod = smeter/pzem/PRODUCTION
topic_mode = regul/mode
topic_status = regul/status

[evaluate]
margin = 20
period = 5
balance_threshold = 20

[debug]
simulation = false
debug_file = "debug.log"
log_file = "logfile.log"    

[equipment]
eq_1_name = water_heater
eq_1_pwr = 2400
eq_1_topic = regul/vload/ECS
eq_1_type = variable
